
  <!-- <div *ngIf="afAuth.user | async as user; else showLogin">
    <h1>Olá {{ user.displayName }}!</h1>
    <button mat-raised-button color="accent" (click)="logout()"><i class="fab fa-sign-out-alt"></i> Sair</button>
  </div>
  <ng-template #showLogin>
  </ng-template> -->

<section>
  <div>
      <h2>Iniciar sessão:</h2>
      <button mat-raised-button color="primary" (click)="login()"> Entrar com o Google </button>

      <button mat-raised-button color="accent" (click)="logout()"> Sair </button>
      <p>
        Não tem conta? <a>Cadastre-se aqui</a>
      </p>
  </div>
</section>
