/* Material theme import */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
html {
  height: 100%;
  background-color: #f7f7f7;
  // background-image: linear-gradient(to top right, #043e64, #0f96da);
}

body{
  margin:0;
  background-color: transparent;
}
