.container {
  max-width: 700px;
  margin: auto;
}

section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../../../assets/backgorund.jpg);
  width: 100%;
  background-size: cover;
}
.logo img{
  position: relative;
  width: 204px;
  height: 86px;
  }

.content {
  min-width: 70%;
  background-color: #1d3449;
  div {
    width: 50%;
    float: left;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .info {
    color: #fff;
  }
  .login {
    background-color: #fff;
  }
}

@media (max-width: 600px) {
  .logo img{
    width: 160px;
    height: 65px;
    }
  .title h4{
    font-size: 20px;
  }
}

