<section class="d-flex justify-content-center align-items-center">
  <div class="content text-center container">
    <div class="info pt-4 row">
      <div class="logo col-12 col-md-12">
          <img src="../../../assets/LogoEventClaro.png" alt="Event Helper">
      </div>
      <div class="col-md-10 offset-md-1 pt-2 title">
          <h4>Seu evento planejado em apenas alguns cliques</h4>
      </div>
      <div class="pt-2 col-12 col-md-8 offset-md-2">
          <p>O Event Helper te ajuda a organizar desde o início</p>
      </div>
    </div>
    <div class="login p-5">
      <app-login></app-login>
    </div>
  </div>
</section>
