<div class="container">
  <div class="row text-center">
      <div class="col-10 offset-1 col-md-6 offset-md-3 mt-5 event">
          <form>
              <div>
                <h2 class="title">Dados do Evento</h2>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome do evento">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Local">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="formGroupExampleInput2" 
                  placeholder="Capacidade máxima de pblico">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="formGroupExampleInput2" 
                  placeholder="Data">
              </div>
              <div class="">
                <p>Você quer calcular a estimativa de:</p>
                <label ><input type="checkbox" value="">Visibilidade</label> <br>
                <label class="pr-2"><input type="checkbox" value="">Retorno financeiro</label>
              </div>
              <button type="button" class="btn btn-primary btn-lg btn-block">Proxima etapa</button>
            </form>
      </div>
  </div>
</div>