.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.hidden {
  display: none;
}
.spacer{
  flex: 1 1 auto;
}


@media(min-width: 960px){
  .logo-app{
    display: none;
  }
}

mat-toolbar.mat-toolbar {
  background-color: #fff;
  color: #000;
}

mat-sidenav.sidenav {
  background-color: #1d3449;
}

mat-sidenav.sidenav .active {
  background-color: #fff;
  color: #1d3449;
  border-radius: 0 35px 35px 0;
}
