<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Event Helper
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Página inicial
      </a>
      <a
        mat-list-item routerLink="/tarefas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Tarefas
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="light-bg">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo-app">Event Helper</span>
      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="example-icon">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Usuário logado: {{user.displayName}}</button>
        <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>

    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
