<div class="container-fluid bg-light pt-5">
  <div class="row">
      <div class="col-md-6 mx-auto">
              <div class="card card-body">
                  <h3 class="text-center mb-4">Cadastre-se</h3>
                  <form [formGroup]="signupForm" (submit)="signup()">
                      <div class="form-group">
                          <input formControlName="fullName" class="form-control input-lg" 
                          placeholder="Nome Completo" name="fullName" type="text">

                          <small *ngIf="signupForm.get('fullName').errors?.required"
                                  class="text-danger d-block mt-2">
                                  Por favor insera o seu nome completo!      
                          </small>
                      </div>
                      <div class="form-group">
                          <input formControlName="userName" class="form-control input-lg" 
                          placeholder="Usuário" name="userName" type="text">

                          <small *ngIf="signupForm.get('userName').errors?.required"
                                  class="text-danger d-block mt-2">
                                  Usuário mínimo de 4 e máximo de 30 caracteres!      
                          </small>
                      </div>
                      <div class="form-group">
                          <input formControlName="email" class="form-control input-lg" 
                          placeholder="E-mail" name="email" type="email">

                          <small *ngIf="signupForm.get('email').errors?.required"
                                  class="text-danger d-block mt-2">
                                  Insira um email válido!      
                          </small>
                      </div>
                      <div class="form-group has-success">
                          <input formControlName="password" class="form-control input-lg" 
                          placeholder="Senha" name="password" value="" type="password">

                          <small *ngIf="signupForm.get('email').errors?.required"
                                  class="text-danger d-block mt-2">
                                  Cadastre uma senha com o minimo de 8 caracteres!      
                          </small>
                      </div>
                      <input [disabled]="signupForm.invalid" class="btn btn-lg btn-primary btn-block" 
                      value="Cadastre-se" type="submit">
                      <div class="pt-2">
                          <p>Já é um usuario?<a [routerLink]="['']"> Login!</a></p>
                      </div>
                  </form>
              </div>
      </div>
  </div>
</div>